.sidebar-container {
  width: 100%; /* Full width on small screens */
  height: 100vh; /* Full viewport height */
  overflow-y: auto; /* Enable vertical scrollbar if content overflows */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 10px; /* Padding around internal content */
  box-sizing: border-box; /* Include padding and border in the element's width and height */
  background-color:#f2f8fa; /* Light background color */
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box; /* Ensure padding doesn't affect overall width */
  background-color:#ffffff;
}


.article-title {
  font-weight: bold;
  color: #333;
  padding: 10px;
  margin-bottom: 10px; /* Space between titles */
  border-radius: 4px; /* Rounded corners */
}

/* Responsive adjustments for larger screens */
@media (min-width: 768px) {
  .sidebar-container {
    width: 25%; /* 1/3 of the width on larger screens */
    float: left; /* Align to the left side */
  }
  
  .articles-list {
    max-height: 600px; /* Adjusted max height for more content */
  }
}
